.hideContent{

    display: none;
}

.header{

    text-align: center;
    line-height: 1;
}

.content{

    text-align: center;
    font-family: serif;
}

.body{

    text-indent: 50px;
    line-height: 1.8;
    text-align: justify;

}

.box{

    text-indent: 40px;
}

ul.a {
    column-count: 2;
    column-gap: 2rem;
    list-style: none;
}

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
 
.logo{

    margin-left: 230;
    width: 100;
    position: relative;
}

.container1{

    display: inline-flex;
}

.photo{

    border: 1px solid ;
    width: 100;
    height: 100;
    overflow: hidden;
    display: flex;
    float: right;
}

p.a{

    text-align: right;
}

p.b{

    text-align: right;
    font-style: italic;
}

.name{

    line-height: 0.3;
}

.sign{

    width: 200; 
    position: absolute;
    left: 600;
    top: 625px;
  
}

br.bottom{

    line-height: 10;
}