
.table-responsive-sm {
  overflow-y: auto;
  height: 500px;
}

.table-responsive-sm th {
  text-align: left;
  top: 0;
  position: sticky;
  background-color: #cdfcff;
}

/* admin_sidenav */
#side a{
  color: black;
  display: block;
  width: 100%;
  line-height: 40px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
}

#side a:hover{
  background: #ffffff;
  text-decoration: none;
}

#side i{
  padding-right: 5px;
}

