.sidebar{
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 220px;
    height: 100%;
    transition: 0.5ms;
    transition-property: left;
}

.sidebar .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
}

.sidebar a:hover{
    background: #2f5a63;
    text-decoration: none;
    color: #fff;

}

.sidebar a:active{
    background: #2f5a63;
}

.sidebar i{
    padding-right: 10px;
}

.left_area h4{
    color: #fff;
    margin: 20px;
    text-transform: uppercase ;
    font-size: 22px;
    font-weight: 900;
}

.left_area span{
    color: #1DC4E7;

}

.mdl-layout__header-row{
    background: #00b3b3;

}

/* logout_btn */
#right-panel-link {
    position: absolute;
    margin-top: -15px;
    margin-left: 980px;
   
  }

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.formBox{
	margin-top: 90px;
	padding: 50px;
}

.formBox  h1{
	margin: 0;
	padding: 0;
	text-align: center;
	margin-bottom: 50px;
	text-transform: uppercase;
	font-size: 48px;
}

.inputBox{
	position: relative;
	box-sizing: border-box;
	margin-bottom: 50px;
}

.inputBox .inputText{
	position: absolute;
    font-size: 24px;
    line-height: 50px;
    transition: .5s;
    opacity: .5;
}

.inputBox .input{
	position: relative;
	width: 100%;
	height: 50px;
	background: transparent;
	border: none;
    outline: none;
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,.5);

}

.focus .inputText{
	transform: translateY(-30px);
	font-size: 18px;
	opacity: 1;
	color: #00bcd4;

}

textarea{
	height: 100px !important;
}

.button{
	width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: #03A9F4;
    color: #fff;
}

/* carousel */
.card-block{
    width: 510px;
}

.user-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.user-name{
    text-align: center;
}

.carousel-control-prev-icon{   
    background-color: #2f5a63;
    
}

.carousel-control-next-icon{
    background-color: #2f5a63;
}

.table-responsive-sm {
    overflow-y: auto;
    height: 250px;
}

.table-responsive-sm th {
    text-align: left;
    top: 0;
    position: sticky;
    background-color: #b2e7e7;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  